name: java_CI

on:
  push: 
   branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'   # REQUIRED
          java-version: '17'
  

      - name: compile
        run: mvn compile

      - name: test
        run: mv test

      - name: build
        run: mvn package
          


   
