name: java_CI

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - name: checkout
        uses: actions/checkout@v4
      
      - name: install java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17
          cache: maven

      - name: compile
        run: mvn compile
      - name: Build Project
        run: mvn -B clean verify

      - name: test
        run: mvn test
        
      - name: build
        run: mvn package
